<div id="demo" class="mt-12 mb-10" style="line-height: 1.5em;"></div>

{% assign previousPost = collections.demo | getPreviousCollectionItem: page %}
{% assign nextPost = collections.demo | getNextCollectionItem: page %}

<div class="flex">
  <div class="flex-none">{% if previousPost %}
  <a href="{{ previousPost.url | url }}">Previous Demo</a>
{% else %}
  <span>
    Previous Demo
  </span>
{% endif %}
</div>
  <div class="grow"></div>
  <div class="flex-none">{% if nextPost %}
  <a href="{{ nextPost.url | url }}">Next Demo</a>
{% else %}
  <span>
    Next Demo
  </span>
{% endif %}</div>
</div>

<p>
  As the player is optimized for the Chromium platform, the demos will work best on the Chrome browser, although 
  the demos should work on all modern browsers (Chrome, Safari and Firefox)
</p>
