{% set navPages = collections.all | eleventyNavigation %}
<!-- This example requires Tailwind CSS v2.0+ -->
<header class="sticky top-0 z-50 backdrop-blur-xl bg-blue-900/80 border-b-2 border-b-blue-800/80">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-blue-500 lg:border-none">
      <div class="flex items-center">
        <a href="/">
          <span class="sr-only">Castmill</span>
          <img class="h-10 w-auto" src="/images/logo.png" alt="">
        </a>
        <div class="hidden ml-10 space-x-8 lg:block">
          {%- for entry in navPages %}
            <span class="relative">
              {% if not entry.tag %}
                <a href="{{ entry.url | url }}" {% if entry.external %}target="_blank" {% endif %}class="text-base font-medium text-white hover:text-blue-300 {% if entry.url == page.url %}text-blue-300{% endif %}">
                  {{ entry.title }}
                  {% if entry.external %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"/>
                      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"/>
                    </svg>
                  {% endif %}
                </a>
              {% else %}
                <style>
                  #{{ entry.title }}:checked ~ #{{ entry.title }}menu {
                    opacity: 1;
                    display: block;
                  }
                </style>
                <input type="checkbox" id="{{ entry.title }}" class="hidden absolute"/>
                <label for="{{ entry.title }}" class="space-x-1 cursor-pointer">
                  <span class="text-base font-medium text-white hover:text-blue-300">
                    {{ entry.title }}
                  </span>
                </label>
                <div id="{{ entry.title }}menu" class="hidden opacity-0 absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" role="none">
                    {% for item in collections['solutions'] %}
                      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                      <a href="{{ item.url }}" class="text-gray-700 hover:bg-gray-300 block px-4 py-2 text-sm" role="menuitem" tabindex="-1">{{ item.data.title }}</a>
                    {%- endfor %}
                  </div>
                </div>
              {% endif %}
            </span>
          {%- endfor %}
        </div>
      </div>
      <div class="ml-10 space-x-4">
        <a href="https://app.castmill.com" class="inline-block bg-blue-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75">Sign in</a>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
      {%- for entry in navPages %}
        <a href="{{ entry.url | url }}" class="text-base font-medium text-white hover:text-blue-50 {% if entry.url == page.url %}text-blue-300{% endif %}">
          {{ entry.title }}</a>
      {%- endfor %}
    </div>
  </nav>
</header>