<!-- This example requires Tailwind CSS v2.0+ -->
<div class="dark:bg-blue-900 bg-opacity-25">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<div class="lg:grid lg:grid-cols-2 lg:gap-8">
			<h2 class="dark:text-white max-w-md mx-auto text-3xl font-extrabold text-indigo-900 text-center lg:max-w-xl lg:text-left">
				We are helping companies around the world grow their digital signage businesses.
			</h2>
			<div class="flow-root self-center mt-8 lg:mt-0">
				<div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
					<div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
						<img class="dark:invert grayscale h-12" src="/images/tyloprint.png" alt="Tyloprint">
					</div>
					<div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
						<img class="dark:invert contrast-200 grayscale h-12" src="/images/adcode.png" alt="Adcode">
					</div>
					<div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
						<img class="dark:invert-0 invert contrast-200 grayscale h-12" src="/images/elevate.png" alt="Elevate">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>