<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <meta name="description" content="{{ description }}"/>
    <link rel="canonical" href="{{ page.url }}"/>
    <meta name="robots" content="index, follow"/>

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css">

    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ site.baseUrl }}{{ page.url }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="article"/>

    {% if cover %}
      <meta name="twitter:card" content="summary_large_image"/>
      <meta property="og:image" content="{{ site.baseUrl }}{{ cover | image(600) }}"/>
    {% else %}
      <meta name="twitter:card" content="summary"/>
    {% endif %}
  </head>
  <body class="dark:bg-slate-900 bg-slate-50">
    {% include '_header.njk' %}

    <main>
      {{ content | safe }}
    </main>

    {% include '_footer.njk' %}
  </body>
</html>
