<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="icon" type="image/png" href="/images/castmill_favicon.png"/>

    <meta name="description" content="{{ description }}"/>
    <link rel="canonical" href="{{ page.url }}"/>
    <meta name="robots" content="index, follow"/>

    <!-- Plausible Analytics -->
    <script defer data-domain="castmill.com" src="https://plausible.io/js/plausible.js"></script>

    <!-- Begin Mailchimp Signup Form -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>
    <!--End mc_embed_signup-->

    {% if title != "Castmill" %}
      <title>Castmill | {{ title }}</title>
    {% else %}
      <title>Castmill</title>
    {% endif %}
    <link rel="stylesheet" href="/css/global.css">

    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="article"/>
    <meta property="fb:app_id" content="301491599992827"/>

    {% if cover %}
      {% set coverImage = cover | coverize(1200, date | postDate, title, description, type, author, avatar, content | readingTime) %}
      <meta name="twitter:card" content="summary_large_image"/>
      <meta property="og:image" content="{{ site.url }}{{ coverImage }}"/>
      <meta name="twitter:image" content="{{ site.url }}{{ coverImage }}"/>
    {% else %}
      <meta name="twitter:card" content="summary"/>
    {% endif %}

    <script>
      (function (w, d, v3) {
        w.chaportConfig = {
          appId: '5efdf2f11b4b08234a76f709',
          appearance: {
            teamName: 'Castmill Support Team'
          }
        };

        if (w.chaport) 
          return;
        v3 = w.chaport = {};
        v3._q = [];
        v3._l = {};
        v3.q = function () {
          v3
            ._q
            .push(arguments)
        };
        v3.on = function (e, fn) {
          if (!v3._l[e]) 
            v3._l[e] = [];
          v3
            ._l[e]
            .push(fn)
        };
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.chaport.com/javascripts/insert.js';
        var ss = d.getElementsByTagName('script')[0];
        ss
          .parentNode
          .insertBefore(s, ss)
      })(window, document);
    </script>
  </head>

  <body class="dark:bg-slate-900 bg-slate-50">
    {% include '_header.njk' %}

    <main>
      {{ content | safe }}
    </main>

    {% include '_cta.njk' %}

    {% include '_footer.njk' %}
  </body>
</html>