---
title: Castmill Terms of Service
layout: "page.njk"
---

#terms-conditions

  h2 Terms of Service and Conditions of Use of Castmill
  
  h3 0. About Castmill
  
  p
    | Castmill is a web service provided by Optimal Bits Sweden AB (OptimalBits), a swedish
    | incorporated company with headquarters in Lund, Sweden. For more information
    | check the website:
    a(href="http://optimalbits.com", target="_blank") optimalbits.com
    
  h3 1. Your relationship with OptimalBits
  p
    | 1.1 Your use of the Castmill website (the "Website") 
    | and any OptimalBits products, software, data feeds and services, 
    | including the Castmill player (the "Player") provided to you on or from or
    | through the Website by OptimalBits (collectively the "Service") is subject
    | to the terms of a legal agreement between you and OptimalBits. "OptimalBits"
    | means OptimalBits Sweden AB, whose principal place of business is at 
    | Scheelevägen 15, 223 70 Lund, Sweden.
  p 
    | 1.2 Your legal agreement with OptimalBits is made up of the terms of service
    | and conditions set out in this document 
    | (called the "Terms of Service and Conditions of Use of Castmill").
  p
    | 1.3 The Terms form a legally binding agreement between you and OptimalBits in relation
    | to your use of the Service. It is important that you take the time to read them carefully.
  p
    | 1.4 The Terms apply to all users of the Service, including users who are also contributors
    | of Content, on the Service. "Content" includes the text, software, scripts, graphics,
    | photos, sounds, music, videos, audiovisual combinations, interactive features and other
    | materials you may view on, access through or contribute to the Service.
  
  h3 2. Acceptance the Terms of Service and Conditions of Use of Castmill.
  p
    | 2.1 Your access to and use of Castmill is subject exclusively to these Terms 
    | of Service and Conditions. You will not use the Website for any purpose 
    | that is unlawful or prohibited by these Terms of Service and Conditions. 
  p
    | 2.2 By using the Website you are fully accepting the terms, conditions and 
    | disclaimers contained in this notice. If you do not accept these 
    | Terms of Service and Conditions you must immediately stop using the Website.
  p
    | 2.3 You may not use the Website and may not accept the Terms if (a) you are
    | not of legal age to form a binding contract with OptimalBits, or (b) you are
    | a person who is either barred or otherwise legally prohibited from receiving
    | or using the Service under the laws of the country in which you are resident
    | or from which you access or use the Service.
  p
    | 2.4 You should print off or save a local copy of the Terms for your records.
   
  h3 3. Service offer
  
  p 
    | 3.1 Castmill offers a service for distributing multimedia content (images, videos,
    | powerpoints, audios, etc) on digital screens such as TV Screens and monitors
    | as well as audio systems.
  
  p 
    | 3.2 Castmill provides a basic free service and premium, subscription based service
    | according to the pricing table on
    a(href="/pricing", target="_blank") castmill/pricing
  
  p
    | 3.3 The service is available for the user as soon as an account is created
    | (requiring an email verification if creating a new account or directly if
    | using Facebook, Google+ or LinkedIn logins).
    | 
  
  p 
    | 3.4 An account is upgraded directly after making a payment for a premium
    | plan.
  
  p
    | 3.5. The premium plans (small, medium and large) are automatically renewed
    | according to the subscription period (monthly or yearly). The subscriptions
    | can be cancelled or downgraded at any time, but no refunds are given for 
    | the already paid period.
  
  p
    | 3.6 Invoices are sent by email directly after every payment is made. 
    | All invoices are also accessible from Castmill as a reference.
   
       
  h3 4. Castmill accounts
  p
    | 4.1 In order to access some features of the Website or other elements of the
    | Service, you will have to create a Castmill account. When creating your account,
    | you must provide accurate and complete information. It is important that you
    | must keep your Castmill account password secure and confidential.
  p
    | 4.2 You must notify Castmill immediately of any breach of security or
    | unauthorised use of your Castmill account that you become aware of.
  p
    | 4.3 You agree that you will be solely responsible (to OptimalBits, and to others)
    | for all activity that occurs under your Castmill account.
  
  h3 5. Conditions of use and Limited Liability
  
  p
    | 5.1 The intended use of Castmill is to provide a communication channel between
    | player (screens or audio systems) owners and their audience. 
    | This communication is performed by playing information, advertisements,
    | entertainment, etc using images, videos, audio clips, and/or powerpoints.
    | Any other use of the service is not permitted and OptimalBits reserves the
    | right to shut down any accounts without prior notice that infringe the
    | intended use.
  
  p
    | 5.2 OptimalBits also reserves the rights to shut down at any time and without 
    | prior notice any accounts that may be abusing the system or trying to access
    | data or information from other user accounts.
    | 
    | Furthermore, OptimalBits reserves the right to shut down any account without
    | any prior notice that may be used to perform illegal activities on the
    | countries that the service is available.
  
  p 
    | 5.3. You are expected to be the copyright owner or have the rights to 
    | upload and distribute the content on the screens you control. OptimalBits
    | will remove all content that infringe copyrights in a timely manner and
    | cannot be held responsible for any damage or economical loss produced by
    | its user.
  
  h3 6. Refund Policy

  p 
    | If you are not 100% satisfied with your purchase, within 60 days from the
    | purchase date, we will provide a free of charge order with an equivalent
    | value of the original order.

  h3 7. Change of Use
  
  p 
    | Castmill reserves the right to:
  
  p 
    | 7.1 change or remove (temporarily or permanently) the Website or any part 
    | of it without notice and you confirm that Castmill shall not be liable to 
    | you for any such change or removal and.
     
  p 
    | 7.2 change these Terms and Conditions at any time, and your continued use 
    | of the Website following any changes shall be deemed to be your acceptance
    | of such change.

  h3 8. Links to Third Party Websites
  
  p 
    | Castmill Website may include links to third party websites that are 
    | controlled and maintained by others. Any link to other websites is not an
    | endorsement of such websites and you acknowledge and agree that we are not
    | responsible for the content or availability of any such sites.

  h3 9. Copyright
  
  p 9.1 All copyright, trade marks and all other intellectual property rights
    | in the Website and its content (including without limitation the Website 
    | design, text, graphics and all software and source codes connected with the
    | Website) are owned by or licensed to Castmill or otherwise used by Castmill
    | as permitted by law.
  
  p 9.2 In accessing the Website you agree that you will access the content
    | solely for your personal, non-commercial use. None of the content may be 
    | downloaded, copied, reproduced, transmitted, stored, sold or distributed 
    | without the prior written consent of the copyright holder. This excludes the
    | downloading, copying and/or printing of pages of the Website for personal,
    | non-commercial home use only.

  h3 10. Disclaimers and Limitation of Liability
  
  p 
    | 10.1 The Website is provided on an AS IS and AS AVAILABLE basis without any
    | representation or endorsement made and without warranty of any kind whether
    | express or implied, including but not limited to the implied warranties of
    | satisfactory quality, fitness for a particular purpose, non-infringement, 
    | compatibility, security and accuracy.
   
  p 
    | 10.2 To the extent permitted by law, Castmill will not be liable for any
    | indirect or consequential loss or damage whatever (including without limitation
    | loss of business, opportunity, data, profits) arising out of or in connection
    | with the use of the Website.
  
  p 
    | 10.3 Castmill makes no warranty that the functionality of the Website will 
    | be uninterrupted or error free, that defects will be corrected or that the 
    | Website or the server that makes it available are free of viruses or 
    | anything else which may be harmful or destructive.

  p 
    | 10.4 Nothing in these Terms and Conditions shall be construed so as to 
    | exclude or limit the liability of Castmill for death or personal injury as a
    | result of the negligence of Castmill or that of its employees or agents.

  h3 11. Indemnity
  p 
    | You agree to indemnify and hold Castmill and its employees and agents 
    | harmless from and against all liabilities, legal fees, damages, losses, 
    | costs and other expenses in relation to any claims or actions brought against
    | Castmill arising out of any breach by you of these Terms and Conditions or 
    | other liabilities arising out of your use of this Website.

  h3 12. Severance
  p
    | If any of these Terms and Conditions should be determined to be invalid, 
    | illegal or unenforceable for any reason by any court of competent 
    | jurisdiction then such Term or Condition shall be severed and the remaining
    | Terms and Conditions shall survive and remain in full force and effect and 
    | continue to be binding and enforceable.
  
  h3 13. Out rights as a seller
  
  p 
    | Castmill is a product own and operated from the Kingdom of Sweden. Our rights
    | as sellers are governed by current laws in Sweden.
  
  
  h3 14. Your rights as buyer
  
  p 
    | Castmill is a product own and operated from the Kingdom of Sweden. Your 
    | rights as sellers are governed by current laws in Sweden.
  

  h3 15. Governing Law
  p
    | These Terms and Conditions shall be governed by and construed in accordance 
    | with the law of the kingdom of Sweden and you hereby submit to the exclusive
    | jurisdiction of the Swedish courts.

  p
    | For any further information please email 
    a(href='mailto:support@castmill.com') webmaster.
