---
title: Castmill
headline1: Your Digital Signage
headline2: Partner
subheadline: We provide you the platform, tools and support to build and monetize your own digital signage network.
layout: "base.njk"
---

{% include '_hero.njk' %}
{% include '_logo-cloud.njk' %}
{% include '_testimonials.njk' %}
{% include '_features.njk' %}

<!--
<ul>
    {% for article in collections.articles %}
        <li>
            <a href="{{ article.url }}">{{ article.data.title }}</a>
        </li>
    {% endfor %}
</ul>
-->