---
title: Castmill Pricing
layout: "base.njk"
description: Scalable pricing for your Digital Signage projects
subheading: We offer a scalable and simple pricing model. Get your first player's subscription for free, with all the features enabled, and add more subscriptions as you need them.

eleventyNavigation:
  key: Pricing
---

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="dark:bg-slate-900 bg-white">

  <div class="bg-slate-800 pb-20">

    <div class="pt-12 sm:pt-16 lg:pt-24">
      <div class="max-w-7xl mx-auto text-center px-4 sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
          <h2 class="text-lg leading-6 font-semibold text-gray-300 uppercase tracking-wider">Pricing</h2>
          <p class="text-3xl font-extrabold text-white sm:text-4xl lg:text-5xl">The right price for you, whatever your needs</p>
          <p class="text-xl text-gray-300">{{ subheading }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-7xl mx-auto py-16 sm:py-24 sm:px-6 lg:px-8">
    <!-- xs to lg -->
    <div class="max-w-2xl mx-auto space-y-16 lg:hidden">

      {% for package in pricing.packages %}
      <section>
        <div class="px-4 mb-8">
          <h2 class="text-lg leading-6 font-medium text-gray-600 dark:text-gray-100">{{ package.name }}</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-gray-900 dark:text-gray-300">${{ package.price }}</span>
            <span class="text-base font-medium text-gray-500 dark:text-gray-300">/mo</span>
          </p>
          <p class="mt-4 text-sm text-gray-500">{{ package.description }}</p>
          <a href="#" class="mt-6 block border border-gray-800 dark:border-gray-500 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 dark:hover:bg-gray-500">Buy {{ package.name }}</a>
        </div>

        {% for name, items in pricing.matrix %}
        <table class="w-full">
          <caption class="bg-gray-50 dark:bg-slate-600 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 dark:text-gray-300 text-left">
            {{ name }}
          </caption>
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            {% for feature in items %}
            <tr class="border-t border-gray-200">
              <th class="py-5 px-4 text-sm font-normal text-gray-500 dark:text-gray-400 text-left" scope="row">{{ feature }}</th>
              <td class="py-5 pr-4 text-right">
              {% if package.features[feature] === true %}
                <!-- Heroicon name: solid/check -->
                <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">Yes</span>
              {% elif package.features[feature] %}
                <span class="ml-auto text-sm text-gray-700 dark:text-gray-100">{{ package.features[feature] }}</span>
                <span class="sr-only">{{ package.features[feature] }}</span>
              {% else %}
                <!-- Heroicon name: solid/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">No</span>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% endfor %}

        <div class="border-t border-gray-200 px-4 pt-5">
          <a href="#" class="block w-full bg-gray-800 border border-gray-800 dark:border-gray-500 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 dark:hover:bg-gray-500">Buy {{ package.name }}</a>
        </div>
      </section>
      {% endfor %}
    </div>

    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="w-full h-px table-fixed">
        <caption class="sr-only">
          Pricing plan comparison
        </caption>
        <thead>
          <tr>
            <th class="pb-4 px-6 text-sm font-medium text-gray-900 text-left" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
            </th>

            {% for package in pricing.packages %}
              <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 dark:text-gray-300 text-left" scope="col">{{ package.name }}</th>
            {% endfor %}

          </tr>
        </thead>
        <tbody class="border-t border-gray-200 divide-y divide-gray-200">
          <tr>
            <th class="py-8 px-6 text-sm font-medium text-gray-900 dark:text-gray-300 text-left align-top" scope="row">Pricing</th>

            {% for package in pricing.packages %}
            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900 dark:text-gray-300">${{ package.price }}</span>
                  <span class="text-base font-medium text-gray-500 dark:text-gray-400">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500 dark:text-gray-400">{{ package.description }}.</p>
                <a href="#" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 dark:border-gray-500 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 dark:hover:bg-gray-500">Buy {{ package.name }}</a>
              </div>
            </td>
            {% endfor %}
          </tr>
           {% for name, items in pricing.matrix %}
          <tr>
            <th class="bg-gray-50 dark:bg-slate-600 py-3 pl-6 text-sm font-medium text-gray-900 dark:text-gray-200 text-left" colspan="4" scope="colgroup">{{ name }}</th>
          </tr>
        
          {% for feature in items %}
          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 dark:text-gray-400 text-left" scope="row">{{ feature }}</th>
            {% for package in pricing.packages %}
              <td class="py-5 px-6">
                {% if package.features[feature] === true %}
                <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">Included in {{ package.name }}</span>
                {% elif package.features[feature] %}
                  <span class="block text-sm text-gray-700 dark:text-gray-100">{{ package.features[feature] }}</span>
                {% else %}
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">Not included in {{ package.name }}</span>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr class="border-t border-gray-200">
            <th class="sr-only" scope="row">Choose your plan</th>

            {% for package in pricing.packages %}            
            <td class="pt-5 px-6">
              <a href="#" class="block w-full bg-gray-800 border border-gray-800 dark:border-gray-500 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 dark:hover:bg-gray-500">Buy {{ package.name }}</a>
            </td>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>